.contenedor-testimoniales{
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    margin: 80px 117px;
    padding: 80px;
    letter-spacing: 0.5%;
    border-radius: 10px;    
}

.text-testimonial{
    font: var(--text_testimonial);
    text-align: justify;
}
.nombre-testimonial{
    font : var(--nombre_testimonial);
}

@media screen and  (max-width: 768px){
    .contenedor-testimoniales{
        text-align: center;
        margin-right: 16px;
        margin-left: 16px;
        padding-top: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        padding-left: 24px;    
    }     
    .text-testimonial{
              
        font: var(--text_testimonial);
    }

    .contenedor-testimoniales p{
        text-align: left;
    }
    .nombre-testimonial{
        font : var(--nombre_testimonial);
    }
}